{% extends "base.html" %}

{% block content %}
    <body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-white">Management software for PhyNetLab: sensor floor. This is one of the strip
                            board computer. Its IP Address is {{ ipaddress }} and its hostname is {{ hostname }}.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact for more info</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://twitter.com/akrv1" class="text-white">Follow on Twitter</a></li>
                            <li>
                                <a href="mailto:aswinkarthik.ramachandran@tu-dortmund.de?subject=Sensor floor dev question"
                                   class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <i class="fa fa-road" aria-hidden="true"> Sensor Floor Strip: <strong>{{ hostname }}</strong> </i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <div class="lead text-white">
                    <h1 class="jumbotron-heading">Sensor Floor</h1>
                    <form method="post" action="/" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">
                                <select name="device" class="browser-default custom-select">
                                    <option selected value="0">0</option>
                                    {% for i in range(1,16) -%}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {%- endfor %}
                                </select>
                                </span>
                            </div>
                            <div class="custom-file">
                                <input name="file" type="file" class="custom-file-input" id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-secondary">Flash</button>

                    </form>

                    This is one of the many data processors of the strips. <br/>
                    This data-processor contains a strip with 15 sensors connected to it. <br/>
                </div>
                <p>
                    <a class="btn btn-secondary btn-link" role="button" href="http://{{ ipaddress }}:2121"
                       target="_blank">1Wire debug</a>

                    <a class="btn btn-secondary" data-toggle="collapse" href="#sensorList" role="button"
                       aria-expanded="false" aria-controls="sensorList">Sensor list</a>
                    <button class="btn btn-secondary" type="button" data-toggle="collapse"
                            data-target="#apidocs" aria-expanded="false"
                            aria-controls="apidocs"> API Docs
                    </button>
                </p>
            </div>
        </section>


        <div class="album py-5 bg-light">
            <!-- FLASH MESSAGES HERE -->
            {% if message %}
                <div class="container">
                    <div class="alert alert-dark alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endif %}

            <div class="container">

                <div class="row collapse multi-collapse" id="apidocs">
                    <h1>This is where HTTP API docs will live</h1>
                </div>

                <div class="row multi-collapse" id="sensorList">

                    {% for item in strip_path_inorder -%}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h5>{{ item.wire1 }}</h5>
                                    <p class="card-text">Position: {{ item.id }} <br/>
                                        IEEE Address: {{ item.IEEE }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                                    data-toggle="modal" data-target="#ViewModal">
                                                View
                                            </button>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                                    data-toggle="modal" data-target="#EditModal">
                                                Edit
                                            </button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% with device=item %}
                            {% include 'ViewModal.html' %}
                            {% block editModal %}{% endblock %}
                        {% endwith %}
                    {%- endfor %}
                </div>

            </div>
        </div>

    </main>

    <footer id="sticky-footer" class="footer text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Sensor floor strip - data processor. Hostname: {{ hostname }}. IP Address: {{ ipaddress }}</p>
            <p> &copy; PhyNetLab Dashboard available at<a href="http://phynetlab.com" target="_blank">
                www.phynetlab.com</a> or read see the source at <a href="https://github.com/akrv/sensorfloor"
                                                                   target="_blank"> <i class="fab fa-github"> github</i></a>.
            </p>
        </div>
    </footer>
{% endblock %}